.create {
  background-color: #fff;
  padding: 34px 51px 18px;
  border-radius: 64px;
  position: relative;
  color: #0d0c0c;
  width: 935px;

  text-align: center;
  &__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.02em;
    margin-bottom: 64px;
  }

  &__btn {
    width: 144px;
  }
}

.form {
  &__wrapper {
    display: grid;
    margin-bottom: 48px;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    grid-template-areas:
      't t t s s'
      'd d d time time'
      'd d d l l'
      'm m m o o'
      'f f f f f'
      'f f f f f';
  }

  &__section {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex-direction: column;
  }
}

.item {
  > div {
    width: 100%;
    input {
      width: 100%;
    }
  }
}

.title {
  grid-area: t;
}
.date {
  grid-area: s;
}
.end {
  grid-area: e;
}
.descr {
  grid-area: d;
}
.time {
  grid-area: time;
}
.location {
  grid-area: l;
}
.members {
  grid-area: m;
}
.owner {
  grid-area: o;
  padding-top: 10px;
}
.files {
  grid-area: f;
}
