.members {
  display: flex;
  justify-content: space-between;
  &__other {
    display: flex;
    align-items: center;
  }
  &__img {
    width: 15px;
    height: 40px;
    svg {
      height: 100%;
      object-fit: cover;
    }

    &:nth-child(1) {
      z-index: 3;
    }
    &:nth-child(3) {
      z-index: 1;
    }
    &:nth-child(2) {
      z-index: 2;
    }
  }

  &__count {
    margin-left: 50px;
    font-weight: 500;
  }

  > div {
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
  }
}
