.notification {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: #fafafa;
  width: fit-content;
  border-radius: 12px;
  position: relative;

  font-size: 13px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #0d0c0c;

  &__icon {
    min-width: 20px;
    min-height: 20px;
    margin-right: 12px;
  }

  &.error {
    fill: green;
  }
}
