.profiler {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &__photo {
    min-width: 80px;
    min-height: 80px;
    background-image: url('./nophoto.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &__btn {
    width: 86px;
    height: 60px;
    background-image: url('./plus.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 30px;
  }

  &__logout {
    position: absolute;
    right: -13px;
    bottom: -7px;
    background-color: #0d0c0c;
    padding: 2px 6px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    border-radius: 12px;
    transition: background-color 0.2s linear;
    &:hover {
      background-color: #f51b1b;
      transition: background-color 0.2s linear;
    }
  }
}
