.event {
  cursor: pointer;
  background-color: #efefef;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.02em;
  max-width: 95%;
  color: #0d0c0c;
  border-radius: 8px;
  margin-bottom: 4px;
  transition: transform 0.2s linear;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    transform: translateX(-5px);

    transition: transform 0.1s linear;
  }
  &__passed {
    opacity: 0.5;
    color: gray;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    div {
      &:last-of-type {
        text-overflow: ellipsis;
        width: inherit;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  &__star,
  &__dot {
    margin-right: 5px;
  }

  &__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #f51b1b;
  }

  &__star {
    min-width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url('./Star.svg');
    background-position: center;
  }

  &:has(div.event__star) {
    background-color: #f51b1b;
    color: #fff;
  }
}
