.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: gray;
  gap: 1px;
  border-radius: 24px;
  overflow: hidden;
  padding: 1px;
  &__header {
    background-color: #fff;
    & .row {
      padding-right: 6px;
      font-weight: bold;
      text-align: right;
      text-transform: capitalize;
    }
  }

  & .cell {
    min-width: 128px;
    min-height: 128px;
    background-color: #fff;
    font-size: 20px;
    &__header {
      min-height: 40px;
    }
    &.weekend {
      background-color: #fafafa;
    }

    & .row {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      & .day {
        padding: 12px;
        display: flex;
        justify-content: flex-end;
        &__wrapper {
          margin: 2px;
          height: 33px;
          width: max-content;
          display: flex;
          align-items: center;
          justify-content: center;
          white-space: nowrap;
        }
      }
    }
  }
}

.current_day {
  width: 100%;
  height: 100%;
  padding: 0px 5px;
  border: 1px solid #f51b1b;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.current_month {
  color: #a4a4a4;
}
