@import '../../App.module.scss';

.event {
  height: 90vh;
  max-height: 924px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 700px;
  max-width: 1075px;

  background-color: #fff;
  border-radius: 64px;
  padding: 18px 35px;
  position: relative;

  &__title {
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #0d0c0c;

    text-transform: capitalize;
  }

  &__info {
    display: flex;

    height: 140px;
  }

  &__adress {
    background-color: #fafafa;
    padding: 15px 12px 15px 16px;
    border-radius: 24px;
    margin-right: 32px;
    min-width: 212px;
    max-height: 144px;
  }

  &__time {
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.02em;
    font-weight: 900;
    color: #0d0c0c;
    padding-bottom: 8px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 8px;
    div {
      margin-bottom: 4px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__location {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #0d0c0c;
  }

  &__descr {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #0d0c0c;
  }

  &__participants {
    h3 {
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: -0.02em;
      color: #0d0c0c;
      margin-bottom: 24px;
    }
  }
  &__gallery {
  }

  &:has(div.event__notification) {
    .event {
      &__title {
        margin-bottom: 16px;
      }
      &__notification {
        margin-bottom: 30px;
      }
      &__time,
      &__location {
        opacity: 0.4;
      }
    }
  }

  &__notice {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #0d0c0c;
    button {
      color: #f51b1b;
      cursor: pointer;
      background-color: transparent;
    }
  }

  &__join {
    display: block;
    width: 343px !important;
    margin: 0 auto !important;
    background-color: red;
  }
}

.participants {
  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.gallery {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    h3 {
      font-size: 24px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: #0d0c0c;
    }
  }
}
