@import './styles/normalize';
@import './styles/swiper';

html {
  font-family: 'Roboto', sans-serif;
}

#root {
  // min-width: 1280px;
  // margin: 0 auto;
  padding: 1rem 3rem;
  // text-align: center;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}
